
<h2><b><%= Location.find(@offering.location_id).title %></b></h2>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">New Offering</a></li>
    <li><a href="#tabs-2">All Existing Offerings</a></li>
  </ul>
  <center>
  <div id="tabs-1">
    <%= form_for(@offering) do |f| %>
      <% if @offering.errors.any? %>
        <div id="error_explanation">
          
          <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

          <ul>
          <% @offering.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        
        </div>
      <% end %>

      <h2> Post A New Byte </h2>

      <div class="field">
        <%= f.hidden_field :location, :value => @offering.location_id %>
      </div>

      
      
      <div class="field">
        <%= f.label :sub_location, "Location Detail" %>
        <%= f.text_field :sub_location %>
      </div>

      <div class="field">
        <%= f.label :description, "Food Description" %>
        <%= f.text_field :description %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>

  <div id="tabs-2">

    <h2> Current Bytes </h2>
    <table>
    <tr>
      <b>
      <td>Location Detail</td>
      <td>Food Description</td>
      </b>
      <br>
    </tr>
    <% Location.find(@offering.location_id).offerings.each do |offering| %>
      <tr>
        <td><%= offering.sub_location %></td>
        <td><%= offering.description %></td>
        <td><%= link_to 'All Gone!', offering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
    <% end %>  
    </table>
  </div>
  </center>
</div>

