<center>
	</br>
	<h1>Edit Profile</h1>

	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <div class="alert alert-error">
	        The form contains <%= pluralize(@user.errors.count, "error") %>.
	      </div>
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li>* <%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <%= f.text_field :name , :placeholder => "Name"%>
	  <br>
	  <%= f.text_field :phoneNumber , :placeholder => "Phone Number"%>
	  <br>
	  <%= f.select :provider, options_for_select(%w[AT&T T-Mobile Verizon]), :prompt => "Select Cellular Provider",:selected => nil%>
	  <br>
	  <p>For security reasons, you must verify your email address to change your password. If you would like to change it <%= link_to "click here.", new_password_reset_path %></p>

	  <%= f.submit "Update my Information", class: "btn btn-primary" %>
	<% end %>
</center>