<br>
<%= text_field_tag "query", nil, :placeholder => "i.e. Stata or 32", :id => "queryField" %>
<%= submit_tag "Search", :id => "search" %>
<div id="accordion">
  <h3>Currently Available</h3>
  <div>
  <%= render partial: 'activities/newsfeed', locals: {:@activities => PublicActivity::Activity.order("created_at desc")}%>
  </div>
</div>
<%= link_to 'REFRESH', {controller: 'locations', action: 'refresh'}, remote: true %>
<%= button_tag "refresh_ajax", :id => "button" %>
<%= render partial: 'layouts/partials/flash'%>
<div id="mapcontent">
	<%= render partial: 'map.html.erb'%>



</div>


<script type="text/javascript">
	<%= render "search.js" %>
	<%= render "gmap.js" %>
	<%= render "refresh.js" %>
</script>




</script>